<%- include('partials/head'); -%>
<%- include('partials/top-menu'); -%>      
<%- include('partials/left-menu'); -%> 
                    
                        <h3>Задания</h3>

<%- include('partials/footer'); -%> 