<%- include('partials/header', { title: 'О нас' }) %>

<main class="container mt-4 content">
  <h1 class="display-4">О нас</h1>
  <p class="lead">Информация о нашей компании.</p>
</main>

<%- include('partials/footer') %>
