<%- include('partials/header', { title: 'Контакты' }) %>

<main class="container mt-4 content">
  <h1 class="display-4">Контакты</h1>
  <p class="lead">Как с нами связаться.</p>
</main>

<%- include('partials/footer') %>
