<%- include('partials/header', { title: 'Главная страница' }) %>

<main class="container mt-4 content">
  <h1 class="display-4">Добро пожаловать на главную страницу!</h1>
  <p class="lead">Это наш сайт с использованием EJS и Bootstrap.</p>
</main>

<%- include('partials/footer') %>
