<%- include('partials/header'); -%>
<%- include('partials/top-menu'); -%>
<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>
    <!-- Background image -->
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Регистрация</h2>
            <form action="/user/" method="POST">
              <div class="form-outline mb-4">
                
                <div class="alert alert-danger" role="alert">
                  <%=message%>
                </div>
                
              </div>
              <div class="form-outline mb-4">
                  <input type="text" id="name" class="form-control" name="name"/>
                  <label class="form-label" for="name">Имя</label>
              </div>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control" name="email" />
                <label class="form-label" for="email">E-mail</label>
              </div>
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control" name="password" />
                <label class="form-label" for="password">Пароль</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Зарегистрироваться
              </button>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
<%- include('partials/footer'); -%>