</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
</div>
</div>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>