
<div class="row">
    <div class="col-md-12">
        <div class="row">
<div class="col-md-2">
    <ul class="nav flex-column nav-pills">
        <li class="nav-item">
            <a class="nav-link <% if (active === 'admin'){ %>active<%}%>" href="/admin">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active === 'projects'){ %>active<%}%>" href="/admin/projects">Проекты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active === 'tasks'){ %>active<%}%>" href="/admin/tasks">Задания</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active === 'gallery'){ %>active<%}%>" href="/admin/gallery">Галерея</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active === 'task-type'){ %>active<%}%>" href="/admin/task-type">Типы заданий</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active === 'image-type'){ %>active<%}%>" href="/admin/image-type">Типы эскизов</a>
        </li>
       
        <li class="nav-item">
            <a class="nav-link <% if (active === 'users'){ %>active<%}%>" href="/admin/users">Пользователи</a>
        </li>
    </ul>
</div>
<div class="col-md-10">